<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss1_Attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-31}</string>
                <key>spriteSize</key>
                <string>{82,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,881},{82,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boss1_Attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-25}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{165,288},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss1_Attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-26}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,773},{106,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boss1_Attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-29}</string>
                <key>spriteSize</key>
                <string>{148,102}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,385},{148,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss1_Attack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,3}</string>
                <key>spriteSize</key>
                <string>{128,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,131},{128,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boss1_Attack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,1}</string>
                <key>spriteSize</key>
                <string>{122,162}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,261},{122,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boss1_Attack7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-19}</string>
                <key>spriteSize</key>
                <string>{102,122}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,489},{102,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boss1_Death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-29}</string>
                <key>spriteSize</key>
                <string>{109,102}</string>
                <key>spriteSourceSize</key>
                <string>{325,256}</string>
                <key>textureRect</key>
                <string>{{113,748},{109,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss1_Death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-45}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{325,256}</string>
                <key>textureRect</key>
                <string>{{182,1},{169,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boss1_Death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,-48}</string>
                <key>spriteSize</key>
                <string>{179,64}</string>
                <key>spriteSourceSize</key>
                <string>{325,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{179,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss1_Death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-52}</string>
                <key>spriteSize</key>
                <string>{175,62}</string>
                <key>spriteSourceSize</key>
                <string>{325,256}</string>
                <key>textureRect</key>
                <string>{{1,67},{175,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss1_Hurt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-27}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{111,852},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss1_Hurt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-29}</string>
                <key>spriteSize</key>
                <string>{110,102}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,593},{110,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss1_Walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-27}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{151,400},{100,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss1_Walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-24}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{113,664},{82,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boss1_Walk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-24}</string>
                <key>spriteSize</key>
                <string>{76,112}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{125,586},{76,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boss1_Walk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-25}</string>
                <key>spriteSize</key>
                <string>{74,110}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,697},{74,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boss1_Walk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-23}</string>
                <key>spriteSize</key>
                <string>{76,114}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{125,508},{76,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boss1_Walk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-23}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{167,172},{82,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss1Monster.png</string>
            <key>size</key>
            <string>{253,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b0946e269af98352a1b8c7560b85666:07de094dcfa92ed76ba56934823a251d:62c2bfcf0920ccf684d7ec54f7015f64$</string>
            <key>textureFileName</key>
            <string>Boss1Monster.png</string>
        </dict>
    </dict>
</plist>
