<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hound_attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-27}</string>
                <key>spriteSize</key>
                <string>{176,72}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,847},{176,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hound_attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-25}</string>
                <key>spriteSize</key>
                <string>{194,76}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,151},{194,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hound_attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-15}</string>
                <key>spriteSize</key>
                <string>{172,96}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,921},{172,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hound_attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-27}</string>
                <key>spriteSize</key>
                <string>{208,74}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,75},{208,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hound_attack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-27}</string>
                <key>spriteSize</key>
                <string>{236,72}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hound_death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-37}</string>
                <key>spriteSize</key>
                <string>{186,52}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{197,261},{186,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hound_death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-46}</string>
                <key>spriteSize</key>
                <string>{180,34}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{191,449},{180,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hound_death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-42}</string>
                <key>spriteSize</key>
                <string>{184,42}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{211,75},{184,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hound_hurt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-30}</string>
                <key>spriteSize</key>
                <string>{188,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,531},{188,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hound_hurt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-31}</string>
                <key>spriteSize</key>
                <string>{192,64}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,297},{192,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hound_hurt3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-30}</string>
                <key>spriteSize</key>
                <string>{194,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,229},{194,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hound_idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-26}</string>
                <key>spriteSize</key>
                <string>{184,74}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,599},{184,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hound_idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-25}</string>
                <key>spriteSize</key>
                <string>{176,76}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{179,675},{176,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hound_idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-23}</string>
                <key>spriteSize</key>
                <string>{162,80}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{175,921},{162,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hound_walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-22}</string>
                <key>spriteSize</key>
                <string>{188,82}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,363},{188,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hound_walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-20}</string>
                <key>spriteSize</key>
                <string>{176,84}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,675},{176,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hound_walk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-18}</string>
                <key>spriteSize</key>
                <string>{162,90}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1019},{162,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hound_walk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-21}</string>
                <key>spriteSize</key>
                <string>{176,84}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,761},{176,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hound_walk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-22}</string>
                <key>spriteSize</key>
                <string>{188,82}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,447},{188,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>houndmonster.png</string>
            <key>size</key>
            <string>{256,1110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:737b026acf104cf2169283137d4d9345:ef9609d5b0ff89f0baae0051901bc7a7:b90178216cb8702eeebd4edde09edffd$</string>
            <key>textureFileName</key>
            <string>houndmonster.png</string>
        </dict>
    </dict>
</plist>
