<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_round_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{411,62},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,36}</string>
                <key>spriteSourceSize</key>
                <string>{167,36}</string>
                <key>textureRect</key>
                <string>{{479,62},{167,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons1_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,36}</string>
                <key>spriteSourceSize</key>
                <string>{167,36}</string>
                <key>textureRect</key>
                <string>{{479,100},{167,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,224}</string>
                <key>spriteSourceSize</key>
                <string>{408,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{408,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{479,177},{44,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cup_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{411,130},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{479,138},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>facebook_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{442,198},{9,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>google.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{513,138},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>google_obly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{453,198},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>platform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,59}</string>
                <key>spriteSourceSize</key>
                <string>{316,59}</string>
                <key>textureRect</key>
                <string>{{411,1},{316,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,47}</string>
                <key>spriteSourceSize</key>
                <string>{45,47}</string>
                <key>textureRect</key>
                <string>{{648,130},{45,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settings_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{648,62},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>social_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{522,177},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>twitter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{547,138},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>twitter_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,16}</string>
                <key>textureRect</key>
                <string>{{424,198},{18,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{556,177},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vk_only.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,11}</string>
                <key>spriteSourceSize</key>
                <string>{19,11}</string>
                <key>textureRect</key>
                <string>{{411,198},{19,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainscene.png</string>
            <key>size</key>
            <string>{728,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b24ca256ddd55d814302806f524a4cd8:6d6404ddbdddd4639043d701b83c40b2:3ad60f9602a56424aca7594a61419782$</string>
            <key>textureFileName</key>
            <string>mainscene.png</string>
        </dict>
    </dict>
</plist>
